{% extends 'base.html' %}

{% block meta_title %}{{ post.meta_title }} - Charline Duchadeau{% endblock %}
{% block og_meta_title %}{{ post.meta_title }} - Charline Duchadeau{% endblock %}
{% block meta_description %}{{ post.meta_description }}{% endblock %}
{% block og_meta_description %}{{ post.meta_description }}{% endblock %}

{% block main %}
<div class="main">
    <h1 class="h2 title text-center">{{ post.title }}</h1>
    <p><small>{{ post.date_created|date:"d F Y" }}</small></p>
    <div class="card-text">{{ post.text|safe }}</div>
</div>
{% endblock %}