{% extends 'base.html' %}

{% block meta_title %}Actualités en droit commercial, droit immobilier et en droit des affaires - Charline Duchadeau{% endblock %}
{% block meta_description %}Restez informés sur l'actualité au sujet du droit commercial, de la construction et des affaires.{% endblock %}

{% block main %}
<div class="main">
    <h1 class="h2 title text-center">NOS ACTUALITÉS</h1>
    <div class="row justify-content-around">
        {% for post in posts %}
        <div class="post my-4 p-5 card">
            <div class="card-body">
                <h2>{{ post.title }}</h2>
                <p><small>{{ post.date_created|date:"d F Y" }}</small></p>
                <div class="card-text">{{ post.text|truncatechars:250|safe }}</div>
                <p class="mt-5">
                    <span class="link py-3"><a class="text-reset card-link" href="{% url 'article-blog' slug=post.slug %}">Lire la suite <i class="fas fa-arrow-right ml-2"></i></a></span>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
