<header class="h-100">
        <a id="togglemenu" onclick="document.body.classList.toggle('menuopen');">
            <span>
                <span></span>
                <span></span>
                <span></span>
            </span>
        </a>
        <div class="bignav pt-4">
            <div class="text-center">
                <p class="main-title m-0">Charline Duchadeau</p>
                <p class="main-title ml-2 pb-4 mb-0 fade-in">Avocat à la Cour</p>
            </div>
            <div id="menu">
                <p><a href="{% url 'home' %}">ACCUEIL</a></p>
                <p><a href="{% url 'competences' %}">COMPÉTENCES</a></p>
                <p><a href="{% url 'blog' %}">ACTUALITÉS</a></p>
                <p><a href="{% url 'contact' %}">INFOS PRATIQUES</a></p>        
            </div>
        </div>
</header>
