{% extends 'base.html' %}

{% block head-title %}
<title>Mentions légales | Charline Duchadeau, Avocat à la cour</title>
{% endblock %}

{% block main %}
<div class="main">
    <div class="mb-5">
        <h1 class="title">Les mentions légales</h1>
        <div class="row justify-content-center align-items-center text-center mentions-legales">
            <div class="col-md-12 mb-4">
                <h3>Charline DUCHADEAU</h3>
                <address>84 cours de Verdun, 33000 - Bordeaux</address>
                <p>cabinet@cduchadeau-avocats.fr</p>
                <p>N° SIREN : 827 948 019</p>
                
            </div>
            <div class="col-md-12 mb-4">
                <h3>DIRECTEUR DE LA PUBLICATION</h3>
                <p>Charline DUCHADEAU</p>
            </div>
            <div class="col-md-12 mb-4">
                <h3>HÉBERGEMENT</h3>
                <p>Alwaysdata</p>
                <p>Siège social : 91 rue du Faubourg Saint Honoré - 75008 Paris</p>
            </div>
            <div class="col-md-12 mb-4">
                <h3>PHOTOGRAPHIES</h3>
                <p><a class="text-reset" href="www.jeanraclet.com/">Jean F. R. Raclet</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}