{% extends 'base.html' %}

{% block head-title %}
<title>Compétences | Charline Duchadeau, Avocat à la cour</title>
{% endblock %}

{% block main %}
<div class="main">

    <div class="mb-5">
        <h2 class="title">Lieux d’intervention</h2>
        <div class="">
            <p>Charline DUCHADEAU vous reçoit en rendez-vous à son cabinet basé à Bordeaux. Elle peut également se déplacer au sein de votre entreprise.</p>
            <p>En cas de litige, Charline DUCHADEAU intervient pour défendre vos intérêts, en demande comme en défense.</p>
            <p>Charline DUCHADEAU représente particuliers et professionnels devant les juridictions civiles et commerciales sur tout le territoire métropolitain, en première instance et en appel, en référé comme au fond.</p>
            <p>Ainsi, elle plaide dans votre intérêt devant l’ensemble des pôles et juges rattachés aux Tribunaux Judiciaires, ainsi que devant les Tribunaux de Commerce et les Cours d’Appel.</p>
        </div>
    </div>

    <div class="mb-5 pt-5">
        <h2 class="title">Domaines d'interventions</h2>
        <div>
            <p>Charline DUCHADEAU négocie et rédige les contrats qui vous sont nécessaires, afin de contribuer au développement et à la pérennité de votre activité.</p>
            <p>Elle vous conseille et vous éclaire sur vos obligations et vos droits et intervient tant pour anticiper d’éventuelles situations sensibles que pour désamorcer des situations de crise.</p>
            <p>Elle adopte une démarche juridique pragmatique, afin de répondre efficacement à vos interrogations et vous proposer une solution adaptée à vos besoins.</p>
            <p>Après une analyse précise de votre dossier, Charline DUCHADEAU définit avec vous la stratégie de défense la plus adaptée.</p>
            <p>En cas de litige, Charline DUCHADEAU vous apporte son aide que pour vous assister et vous représenter devant la juridiction compétente, en privilégiant le cas échéant une négociation et une transaction amiable du litige. </p>    
            <p>Elle intervient ainsi en conseil comme en contentieux.</p>
        </div>
    </div>

    <div class="mb-5">
        <div id="competences-cards" class="row flex-wrap mb-5">
            {% for competence in competences %}
            <div class="flip-card col-md-6">
                <div class="flip-card-inner">
                    <div class="flip-card-front bg-darker">
                        <p>{{ competence.name }}</p>
                    </div>
                    <div class="flip-card-back bg-ligther">
                        <p class="rf-text--sm"><a class="text-reset card-link" href="{% url 'competence-detail' slug=competence.slug %}">Obtenir des informations<i class="fa fa-arrow-right" aria-hidden="true"></i></a></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

<div class="mb-5 pt-5">
    <h2 class="title">Partenaires</h2>
    <div>
        <p>Charline DUCHADEAU collabore avec plusieurs confrères et autres professionnels afin de vous proposer une gamme complète de services destinés à répondre à toutes vos problématiques : comptabilité, assurance, droit, formation, contrôle de gestion, etc.</p>
        <p>En droit de la propriété intellectuelle, des nouvelles technologies, de l’informatique et de la communication, elle travaille régulièrement avec son confrère <a class="text-reset" href="https://consultation.avocat.fr/avocat-bordeaux/aurelie-testu-44033.h">Aurélie TESTU.</a></p>
        <p>Charline DUCHADEAU est à votre disposition pour toute précision complémentaire sur son offre de services. Et comme un mail ou un appel téléphonique n’engage à rien, n’hésitez pas&nbsp;!</p>
    </div>
</div>
</div>
{% endblock %}