{% extends 'base.html' %}

{% block head-title %}
<title>Compétences | Charline Duchadeau, Avocat à la cour</title>
{% endblock %}

{% block main %}
<div class="main">

    <h1 class="title title--no-after mb-5">Compétences</h1>

    <div class="mb-5">
        <h2 class="title">Lieux d’intervention</h2>
        <div class="">
            <p>Je vous reçois en rendez-vous à mon cabinet basé à Mérignac. Je peux également me déplacer au sein de votre entreprise. Des rendez-vous téléphoniques ou en visoconférence sont également possibles</p>
            <p>En cas de litige, j'interviens pour défendre vos intérêts, en demande comme en défense.</p>
            <p>Je représente particuliers et professionnels devant les juridictions civiles et commerciales sur tout le territoire métropolitain, en première instance et en appel, en référé comme au fond.</p>
            <p>Ainsi, je plaide dans votre intérêt devant l’ensemble des pôles et juges rattachés aux Tribunaux Judiciaires, ainsi que devant les Tribunaux de Commerce et les Cours d’Appel.</p>
        </div>
    </div>

    <div class="mb-5 pt-5">
        <h2 class="title">Domaines d'interventions</h2>
        <div>
            <p>J'interviens en effet en matière contractuelle, en conseil comme en contentieux.</p>
            <p>En dehors de tout litige, je négocie et rédige les contrats qui vous sont nécessaires, afin de contribuer au développement et à la pérennité de votre activité.  En droit immobilier et de la construction, je vous assiste afin de sécuriser toutes vos transactions.</p>
            <p>Je vous conseille et vous éclaire sur vos obligations et vos droits et intervient tant pour anticiper d’éventuelles situations sensibles que pour désamorcer des situations de crise. J'adopte systématiquement une démarche juridique pragmatique, afin de répondre efficacement à vos interrogations et vous proposer une solution adaptée à vos besoins.</p>
            <p>En cas de litige, je vous apporte mon aide pour vous assister et vous représenter devant la juridiction compétente, en privilégiant le cas échéant une négociation et une transaction amiable du litige. Après une analyse précise de votre dossier, j'élabore avec vous la stratégie judiciaire la plus adaptée.</p>
            <p>Dès que j'interviens pour une entreprise, je travaille de concert avec ses autres conseils (expert comptable, etc)</p>
        </div>
    </div>

    <div class="mb-5">
        <div id="competences-cards" class="row flex-wrap mb-5">
            {% for competence in competences %}
            <div class="flip-card col-md-6">
                <div class="flip-card-inner">
                    <div class="flip-card-front bg-darker">
                        <p>{{ competence.name }}</p>
                    </div>
                    <div class="flip-card-back bg-ligther">
                        <p class="rf-text--sm"><a class="text-reset card-link" href="{% url 'competence-detail' slug=competence.slug %}">Obtenir des informations<i class="fa fa-arrow-right" aria-hidden="true"></i></a></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}