{% extends 'base.html' %}

{% block main %}
<div class="main">

    <h2 class="title">Contact</h2>
    <div class="row justify-content-around">
        <div class="col-md-6">
            <p><strong>Me Charline DUCHADEAU</strong></p>
            <p>50 cours de Verdun, 33000 - Bordeaux</p>
            <p><i class="fas fa-phone-alt"></i><a href="tel:+3357991839" class="text-reset"> 05 57 99 18 39</a></p>
            <p><i class="far fa-paper-plane"></i><a href="mailto:cabinet@cduchadeau-avocats.fr" class="text-reset"> cabinet@cduchadeau-avocats.fr</a></p>
        </div>
        <div class="col-md-6 pl-5">
            <p><strong>Du lundi au vendredi de 9h à 19h</strong></p>
            <p>Bus : </p>
            <p>Tram : C arrêt "Jardin Public", D arrêt Fondaudège - Muséum</p>
        </div>
    </div>
    <div class="my-5 map-responsive">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2828.7053217217635!2d-0.5780740845297109!3d44.84793418237233!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd5527d8f2d547f3%3A0xe0403336f4a9f442!2s50%20Cours%20de%20Verdun%2C%2033000%20Bordeaux!5e0!3m2!1sfr!2sfr!4v1614444918804!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>

    <h2 class="title">Les honoraires</h2>
    <div>
        <div>
            <p>En fonction de votre dossier, les honoraires sont déterminés selon l’une de ces méthodes :</p>
            <ul>
                <li>Au forfait : le montant total des honoraires pour des diligences précises est fixé dès le début de la mission.</li>
                <li>Au temps passé avec application d’un taux horaire : Le client connaît la base de calcul des honoraires et ce montant varie en fonction du volume de travail que requiert l’accomplissement de la mission. </li>
                <li>Au forfait avec un honoraire de résultat : l’honoraire de résultat est un honoraire complémentaire qui est un pourcentage du gain obtenu ou de la perte évitée grâce à l’intervention de l’avocat. Cet honoraire de résultat vient s’ajouter au forfait prévu.</li>    
            </ul>
            <p>Nous proposons également des systèmes d’abonnement pour les besoins récurrents.</p>
            <p>Les honoraires du Cabinet peuvent être pris en charge en tout ou partie par votre assurance protection juridique.</p>
        </div>
    </div>
</div>
{% endblock %}
