{% extends 'base.html' %}

{% block head-title %}
<title>Infos pratiques | Charline Duchadeau, Avocat à la cour</title>
{% endblock %}


{% block main %}
<div class="main">

    <h1 class="title title--no-after sr-only">Informations pratiques</h1>
    <h2 class="title">Honoraires</h2>
    <div>
        <div>
            <p>En fonction de votre dossier, les honoraires sont déterminés d’un commun accord entre vous et moi selon l’une de ces méthodes :</p>
            <ul>
                <li>Au forfait : le montant total des honoraires pour des diligences précises est fixé dès le début de la mission.</li>
                <li>Au temps passé avec application d’un taux horaire : vous connaissez la base de calcul des honoraires et ce montant varie en fonction du volume de travail que requiert l’accomplissement de la mission.</li>
                <li>Au résultat : l’honoraire de résultat est un honoraire complémentaire qui est un pourcentage du gain obtenu ou de la perte évitée grâce à mon intervention. </li>    
            </ul>
            <p>Les honoraires  peuvent être pris en charge en tout ou partie par votre assurance protection juridique. Il vous appartient de vous renseigner auprès de votre assureur, sachant que celui-ci ne peut en aucun cas vous imposer le choix d’un avocat en particulier.</p>
        </div>
    </div>

    <h2 class="title" id="contact-section">Contact</h2>
    <div class="row justify-content-around">
        <div class="col-md-6">
            <p><strong>Maître Charline DUCHADEAU</strong></p>
            <p>84 cours de Verdun, 33000 BORDEAUX</p>
            <p><i class="far fa-paper-plane"></i><a href="mailto:cabinet@cduchadeau-avocats.fr" class="text-reset"> cabinet@cduchadeau-avocats.fr</a></p>
        </div>
        <div class="col-md-6 pl-5" id="access">
            <p><strong>Du lundi au vendredi de 9h à 19h</strong></p>
        </div>
    </div>
    <div class="my-5 map-responsive">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5657.210394714927!2d-0.5771009239303312!3d44.849972971070486!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd552877c3f92787%3A0x150a9b381ccc13aa!2s84%20Cr%20de%20Verdun%2C%2033000%20Bordeaux!5e0!3m2!1sfr!2sfr!4v1729969018310!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
{% endblock %}
