{% extends 'base.html' %}

{% block meta_title %}Avocat droit commercial, droit immobilier et des affaires - Charline Duchadeau{% endblock %}
{% block og_meta_title %}Avocat droit commercial, droit immobilier et des affaires - Charline Duchadeau{% endblock %}
{% block meta_description %}Avocat à Bordeaux, elle vous assiste dans vos problématiques liées au droit commercial, droit immobilier et au droit des affaires.{% endblock %}
{% block og_meta_description %}Avocat à Bordeaux, elle vous assiste dans vos problématiques liées au droit commercial, droit immobilier et au droit des affaires.{% endblock %}

{% block main %}
<div class="main">
    <div class="mb-5">
        <h1 class="title h2">Présentation</h1>
        <div class="row justify-content-space-around align-items-center">
            <div class="col-md-7">
                <p>Avocat depuis 2016, je suis titulaire d’un Master 2 en droit privé de l’Université de Bordeaux, d’un Master 2 Programme Grande Ecole de <a href="https://www.kedgebs-alumni.com/fr/" class="text-rest" target="_blank" rel="noopener">l’Ecole de commerce KEDGE<a> ainsi que d’un certificat de compétence en droit des affaires du Conservatoire National des Arts et Métiers.</p>
                <p>Depuis mon inscription au tableau de l’ordre des avocats de Bordeaux, j'ai collaboré au sein de plusieurs cabinets d’avocats d’affaires.</p>
                <p>Originaire de la Charente, mon cabinet est basé à Bordeaux et j'interviens régulièrement dans l’ensemble de la région Nouvelle Aquitaine, mais aussi au niveau national, tant en conseil qu'en contentieux en droit des contrats et des affaires.</p>
                <p>En sus d’être avocat, je suis également formatrice et chargée d’enseignement en droit des contrats à l’Université de Bordeaux. Je suis également intervenue au sein de l'ESPI (Ecole Supérieure des Professions Immobilières) pour dispenser des cours en droit des sociétés, droit de la construction et droit de la promotion immobilière.</a></p>
                <div class="row justify-content-space-around align-items-center ml-1">
                    <a class="text-reset" target="_blank" rel="noopener" href="https://www.linkedin.com/in/charline-duchadeau-3a0329143/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="col-md-5">
                <img src="../../static/images/charline-duchadeau-1.png" alt="Photo de Maître Charline Duchadeau" class="img-fluid">
            </div>
        </div>
    </div>

    <div id="values" class="mb-5 pt-5">
        <h2 class="title">Valeurs du cabinet</h2>
        <div class="row flex-wrap">
            <div class="flip-card col-md-6">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <p><i class="fas fa-stopwatch"></i>Réactivité</p>
                    </div>
                    <div class="flip-card-back">
                        <p>Accompagnement efficace et rapide</p>
                    </div>
                </div>
            </div>
            <div class="flip-card col-md-6">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <p><i class="fas fa-glasses"></i>Écoute</p>
                    </div>
                    <div class="flip-card-back">
                        <p>Confidentialité totale et compréhension de vos besoins</p>
                    </div>
                </div>
            </div>
            <div class="flip-card col-md-6">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <p><i class="fas fa-chess"></i>Savoir-faire</p>
                    </div>
                    <div class="flip-card-back">
                        <p>Compétences et expertise</p>
                    </div>
                </div>
            </div>
            <div class="flip-card col-md-6">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <p><i class="far fa-handshake"></i>Implication</p>
                    </div>
                    <div class="flip-card-back">
                        <p>Diligences et temps nécessaire consacré à votre dossier</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-5 pt-5">
        <h2 class="title">Recommandations</h2>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {% for recommandation in recommandations %}
                {% if forloop.first %}
                <div class="carousel-item active">
                {% else %}
                <div class="carousel-item">
                {% endif %}
                    <div class="d-block w-100 text-center" id="blockquote">
                        <p><span>«&nbsp;</span>{{ recommandation.text|safe }}<span>&nbsp;»</span></p>
                        <div>{{ recommandation.author|safe }}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}